html, body {
background-color: rgb(229,84,81);height:100%;width:100%;margin:0;padding:0;
}
img{
border-radius: 50%;
width: 250px;
        
}
h1{
 font-size:70px;   
}
h2{
 font-size: 35px;   
}
.h3,.h4 {
	width: 100%;
	text-align: center;
}
.row div {
	text-align: center;
}

.backtomain {
	position: fixed !important;
	/*top: 20px;*/
	left: 20px;
}
.btn-backtomain {
	font-size: 20px;
	border-radius: 20px;
	background: rgba(255,255,255,.5);
	color: #fff;
	height: 40px;
	width: 40px;
	position: fixed;
}
.btn-backtomain:hover {
	background: white;
	color: #e55451;
}

.people{
    background-color: rgba(236, 240, 241,.5);
    padding: 25px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid;
}

img:hover{
    -webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
    background-color: rgba(229,84,81,.5);
    padding: 25px;
}

img{
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}