html{
background-color: rgb(229,84,81);
}
img{
border-radius: 50%;
width: 250px;
        
}
h1{
 font-size:70px;   
}
h2{
 font-size: 35px;   
}

.ali{
    padding-bottom: 30px;
}

.elaine{
    padding-right: 30px;
}

.nasta{
    padding-left: 30px;
}
.backtomain {
	position: fixed;
	top: 0px;
	left: 20px;
}
.btn-backtomain {
	font-size: 20px;
	border-radius: 20px;
	background: rgba(255,255,255,.5);
	color: #fff;
	height: 40px;
	width: 40px;
}
.btn-backtomain:hover {
	background: white;
	color: #e55451;
}