/*
 * codehighlands.css -- Code_Highlands
 * (C) Theodore Kluge 2014-2015
 * villa7.github.io
*/
/*
 * TODO: Add media queries to font sizes, box sizes, etc to make the design responsive to different displays
*/

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	/*background: #e42217;*/
	background: #e55451;
	color: #fff;
	font-family: 'Proxima Nova', Verdana, sans-serif;
	/*overflow-x: hidden;*/
}
html {
	cursor: default !important;
}
::selection {
	background: rgba(255,255,255,.3);
}
a {
	letter-spacing: 2px;
	text-decoration: none !important;
	color: #333;
	-webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
a:hover {
	color: #000;
	cursor: pointer;
}
h1,
h2,
h3,
h4 {
	text-transform: uppercase;
}
.nav,
.smallnav {
	right: 30px;
	top: 20px;
	position: fixed;
	visibility: hidden;
	z-index: 100;
}
.smallnav {
	font-size: 30px;
}
.nav .btn {
	border: none;
	border-radius: 0;
	border-bottom: solid 3px transparent;
	margin: 0;
	padding: 5px 15px;
	font-size: 15px;
	color: rgba(255,255,255,.7);
	text-transform: uppercase;
}
.nav .btn:hover {
	color: #fff;
	border-color: #fff;
}
.backtotop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	visibility: hidden;
	z-index: 100;
}
.backtotop .btn {
	font-size: 20px;
	border-radius: 25px;
	background: rgba(255,255,255,.5);
	color: #fff;
}
.backtotop .btn:hover {
	background: white;
	color: #e55451;
}
.page {
	/*min-height: 500px;*/
	min-height: 100%;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #333;
}
.title {
	text-transform: uppercase;
	width: auto;
	left: 10%;
	top: 20%;
	position: absolute;
}
.title h1 {
	font-size: 130px;
	margin: 0;
	-webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.title h4 {
	font-size: 30px;
	margin: 0;
	-webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.title .buttonbox {
	margin-top: 40px;
	visibility: hidden;
}

@media screen and (min-width: 751px) {
	.nav {
		display: inline;
	}
	.smallnav {
		display: none;
	}
    .title .btn {
		width: 208px;
		font-size: 25px;
		margin: 0 30px 0 0;
		padding: 5px 30px;
		border: 5px solid transparent;
		border-radius: 30px;
		background: rgba(255,255,255,.7);
		color: #e55451;
		-webkit-animation-delay: 0.2s;
	    -o-animation-delay: 0.2s;
	    animation-delay: 0.2s;
	}
	blockquote {
		font-style: italic;
		font-size: 200%;
		background: rgba(255,255,255,.2);
		border-left: 5px solid #333;
		width: 80%;
		margin-left: 10%;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}
}
@media screen and (max-width: 751px) {
	.nav {
		display: none;
	}
	.smallnav {
		display: inline;
	}
	.title .btn {
		width: 150px;
		font-size: 15px;
		margin: 0 0 20px 0;
		padding: 5px 30px;
		border: 5px solid transparent;
		border-radius: 30px;
		background: rgba(255,255,255,.7);
		color: #e55451;
		-webkit-animation-delay: 0.2s;
	    -o-animation-delay: 0.2s;
	    animation-delay: 0.2s;
        
	}
	.title .buttonbox {
		text-align: center;
	}
	blockquote {
		font-style: italic;
		font-size: 200%;
		background: rgba(255,255,255,.2);
		border-left: 5px solid #333;
		width: 100%;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}
}
.title .btn:hover {
	/*border-width: 5px;*/
	border-color: rgba(255,255,255,1);
	background-color: rgba(255,255,255,.5);
    
}
.page .content {
	padding: 70px 40px 40px 40px;
	/*font-family: 'Bitter', sans-serif;*/
}
.page-2 .content p {
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
	position: relative;
}
.page-2 {
	background: #e2533f;
}
.page-3 {
	background: #e55451;
}
.page-3 .content {
	padding: 40px 20%;
}
.page-3 h1,
.page-2 h1,
.page-5 h2 {
	text-align: center;
	font-size: 60px;
}
.page-4 {
	background: #e2533f;
}
.page-4 .content p {
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
	position: relative;
}
.page-4 .content {
	padding: 40px 20%;
	text-align: center;
}
.page-4 .social {
	font-size: 100px;
	position: relative;
	float: left;
	padding: 20px;
	height: auto;
	width: 100%;
}
.page-4 .social:hover {
	-ms-transform:rotate(15deg);
    -webkit-transform:rotate(15deg);
    -moz-transform:rotate(15deg);
    -o-transform:rotate(15deg);
    transform:rotate(15deg);
}
.page-4 .col div {
	text-align: center;
}
/*.page-4 .social:hover {
	border-radius: 75px;
	background: rgba(255,255,255,.2);
}*/
.faq-item {
	width: 100%;
	margin-bottom: 30px;
	font-family: 'Bitter', sans-serif;
	background: rgba(255,255,255,.1);
	border-radius: 20px;
	padding: 20px;

}
.faq-item h2 {
	color: #333;
	font-weight: bold;
	font-size: 2.1em;
	padding: 0;margin: 0 0 10px 0;
}
.faq-item p {
	font-size: 1.5em;
	padding: 0;margin: 0;
}
.contact {
	margin-top: 100px;
}
.sidr-open,
.sidr-close {
	font-size: 20px;
	float: right;
}

.sponsor-item{
            padding: 20px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.sponsor-item:hover{
            background-color: #e55451;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}