@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'Bitter';
  font-weight: normal;
  src: url(../fonts/Bitter-Regular.ttf);
}
@font-face {
  font-family: 'Bitter';
  font-weight: bold;
  src: url(../fonts/Bitter-Bold.ttf);
}